.wave {
    overflow: hidden;
    line-height: 0;
    height: 148px;
}

.waveItem {
    height: 148px;

}

/* @media (max-width: 1024px) {
    .waveItem {
        left: min(0px, calc((175% - 1440px) / 2));
    }
} */

.flipped {
    transform: scale(1, -1);
}

.secondary {
    fill: #8861FB;
}
