
.joinForm {
    background: url('/images/form_bg.png');
    background-size: cover;
}

.joinFormRadio {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: auto;
}

.joinFormRadioImage {
    width: 84%;
    max-height: 156px;
}

.card {
    background: #FFFFFF80;
}
